body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #9236e2;
    color: #fff;
    padding: 10px;
    text-align: right;
    height: 6vh;
}

nav .logo {
    display: flex;
    justify-content: left;
    text-transform: uppercase;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.home-content {
    background-color: aqua;
    margin-top: -30px;

}

.home-content h1 {
    justify-content: center;
    text-align: center;
    color: blue;
}

.home-content img {
    height: 60vh;
    width: 60vh;
    max-height: 120vh;
    margin: 40px;
    border-radius: 50px;

}

.home-content-2 {
    height: 40vh;
    background-color: rgb(58, 111, 226);
    margin-top: -4vh;
}

